.tiles {
    color: #fff;
    background-color: #103848;
    padding: 1rem 2rem 2rem;
    border: solid 2px black;
  
    &_title {
      font-size: 4rem;
      font-weight: 500;
      margin: 0 0 2rem;
      padding: 0 0 1rem;
      border-bottom: 1px solid #7a8c92;
    }
  
    &_indicators {
      display: flex;
      &_confirmed{
        display: flex;
        flex: 3;      
        padding: 1rem;
    }
    &_refunds{
      display: flex;
      flex: 1;
      padding: 1rem;
      border-left: #7a8c92 1px solid;
  }
    }
  
    &_indicator {
      flex: 1;
      padding: 0 3rem;
  
      &_number{
        font-size: 3rem;
        line-height: 8rem;
    }
      &_title {
        font-size: 1.8rem;
        line-height: 3rem;
        color: #00d795;
        font-weight: 400;
        margin: 0;
      }
      &_description {
        color: #7a8c92;
        font-size: 16px;
        font-weight: 200;
        margin: 0;
      }
    }
  

  }
  
  @media (max-width: 1024px) {
    .tiles {
      margin-top: 2rem;
      &_indicators {
        display: flex;
        flex-direction: column;
        &_confirmed{
          display: flex;
          flex-direction: column;
          flex: 3;      
          padding: 1rem;
      }
      &_refunds{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 1rem;
        border-left:none;
        border-top: 1px solid #7a8c92;
    
      }
      }
      &_indicator:not(:last-child)  {
        margin-bottom: 2rem;
      }
    }
  }
  